.card-body {
  display: flex;
}
.collection {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  border-radius: 8px;
  height: 100px;

  border: 1px solid red;
}
.container-avtar {
  text-align: center;
}
.container-info {
  display: flex;
  max-width: 220px;
  min-width: 180px;
  align-items: center;
}
